/* Css Selector */

/* Example of Element Selector */
p{
   color: red;
   background-color: yellow;
}

/* Example of Id Selector */
#line-one{
   color: yellow;
   background-color: black;
}

/* Example of Class Selectors */
.sel{
   color: aqua;
   background-color: black;
}


/* if You want to just color only one element  */
p.center{
   color:red;
   text-align: center;
}

/* Example of Universal Selectors */
*{
   border: 2px dotted white;
   color: black;
   background-color: red;
   font-size: 20px;
}


/* Another Example for diff btw Body element and Universal selector */

body{
   border: 2px dotted white;
   color: black;
   background-color: red;
   font-size: 20px;
}

/* Example of Group Selector */
h1,h2,p{
   text-align: center;
   color: red;
   background-color: beige;
}


/* Example of Desendent Selector */
li a{
   color: white;
   background-color: black;
}


/* Example of Direct Child  */
b>i{
   color: white;
   background-color: black;
}

