/* Css Selector */

/* Example of Element Selector */
p{
   color: red;
   background-color: yellow;
}

/* Example of Id Selector */
#line-one{
   color: yellow;
   background-color: black;
}

/* Example of Class Selectors */
.sel{
   color: aqua;
   background-color: black;
}

